@page "/cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationMaganer
@inject SweetAlertService sweetAlertService

<h3>Create State</h3>
<CityForm @ref="cityForm" City="city" OnValidSubmit="CreateAsycn" ReturnAction="Return" />
@code {
    private City city = new();
    private CityForm? cityForm;

    [Parameter]
    public int StateId { get; set; }

    private async Task CreateAsycn()
    {
        city.StateId = StateId;
        var httpResponse = await repository.Post("/api/cities", city);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        cityForm!.FormPostedSuccessfully = true;
        navigationMaganer.NavigateTo($"/states/details/{StateId}");
    }

}
